flows.json
[{"id":"7bf666b4.fa6c78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e9ef1f9.7d8a2","type":"ibmiot in","z":"7bf666b4.fa6c78","authentication":"apiKey","apiKey":"c1ef8f7f.c958f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":300,"wires":[["72ed278d.320878","408796e4.f602e8","f1ec1061.2f3b9"]]},{"id":"f70e8a26.9103c8","type":"debug","z":"7bf666b4.fa6c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":280,"wires":[]},{"id":"72ed278d.320878","type":"function","z":"7bf666b4.fa6c78","name":"Temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["f70e8a26.9103c8","8c271581.847c38"]]},{"id":"408796e4.f602e8","type":"function","z":"7bf666b4.fa6c78","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["f70e8a26.9103c8","1833334b.a59c9d"]]},{"id":"f1ec1061.2f3b9","type":"function","z":"7bf666b4.fa6c78","name":"objTemp","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["f70e8a26.9103c8","e98b05c1.2372f8"]]},{"id":"8c271581.847c38","type":"ui_gauge","z":"7bf666b4.fa6c78","name":"","group":"2d1344d4.7a7ffc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp gauge","label":"˚ C","format":"{{value}}","min":0,"max":"100","colors":["#ff8080","#ff8080","#ca3838"],"seg1":"","seg2":"","x":690,"y":240,"wires":[]},{"id":"1833334b.a59c9d","type":"ui_gauge","z":"7bf666b4.fa6c78","name":"","group":"a3b2fcee.9569d","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":360,"wires":[]},{"id":"e98b05c1.2372f8","type":"ui_gauge","z":"7bf666b4.fa6c78","name":"","group":"fa4b2dab.fc9ce","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil moisture","label":"˚ C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":320,"wires":[]},{"id":"a4c32864.497288","type":"ibmiot out","z":"7bf666b4.fa6c78","authentication":"apiKey","apiKey":"c1ef8f7f.c958f","outputType":"cmd","deviceId":"MotorControl","deviceType":"SimpleDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":420,"wires":[]},{"id":"3f913418.9639bc","type":"ui_template","z":"7bf666b4.fa6c78","group":"2d1344d4.7a7ffc","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n   <style>\n \nsection{\n  \n  background-image:    url('https://image.freepik.com/vetores-gratis/fundo-sem-emenda-de-tendencia-de-verao-com-folhas-e-plantas-tropicais-brilhantes_100731-535.jpg');\n}\n\n \t</style>\n</head>\n<body>\n  <section>\n    \n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":200,"wires":[[]]},{"id":"95b8a98f.a61a48","type":"ui_template","z":"7bf666b4.fa6c78","group":"f007076a.ba2e88","name":"","order":1,"width":0,"height":0,"format":"<style>\n    .watson{\n        background-image: url('https://i.pinimg.com/originals/bc/bc/bc/bcbcbc82af6091ad057fb9274259bc7d.gif');\n        width:305px;\n        height: 230px;\n        background-size:contain;\n       \n        background-repeat:no-repeat;\n    }\n</style>\n<button class=\"watson\" type=\"submit\" ng-click=\"send({payload:2})\" ></button>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":100,"wires":[["b5d4b6a3.c69108"]]},{"id":"c9d2af96.b3a99","type":"ui_template","z":"7bf666b4.fa6c78","group":"b14405b6.4e39c8","name":"","order":1,"width":0,"height":0,"format":"<style>\n    .api{\n        background-image: url('https://i.pinimg.com/originals/df/39/2f/df392fb90619818047bf4f09e0adbc36.gif');\n        width:305px;\n        height: 230px;\n        background-size:contain;\n       \n        background-repeat:no-repeat;\n    }\n</style>\n<button class=\"api\" type=\"submit\" ng-click=\"send({payload:4})\" ></button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":60,"wires":[["b5d4b6a3.c69108"]]},{"id":"56af33a3.dccaac","type":"ui_template","z":"7bf666b4.fa6c78","group":"55217d8e.278944","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n \n  <style>\n \nsection{\n  \n  background-image:    url('https://cdn.dribbble.com/users/735228/screenshots/2337559/farmer.gif'),url('https://i.pinimg.com/originals/b2/9a/1b/b29a1bf2be261c57f1d5ba0ff7997afd.gif'),url('https://i.pinimg.com/originals/b2/9a/1b/b29a1bf2be261c57f1d5ba0ff7997afd.gif');\n background-repeat: no-repeat;\n background-position:center,left,right;\n\n  \n}\n\t\n\tbutton{background-color: rgb(75, 121, 48)\t;\n    color: white;\n    font-size: x-large;\n    font-weight: bold;\n    height: 40px;\n    width:200px;\n    border: none;\n   \n\t    \n\t}\n\t</style>\n</head>\n<body>\n  <section>\n      <button type=\"submit\" ng-click=\"send({payload:1})\" >Let's Go!</button>\n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":20,"wires":[["b5d4b6a3.c69108"]]},{"id":"470106d7.83dbb8","type":"http request","z":"7bf666b4.fa6c78","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Mathura,IN&appid=583aeab685227a0897aff58fc07e8f73","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":480,"wires":[["d31c2e9c.b2fd9","9b3b922a.24dc3","cdf133cf.d8106","7367653a.135b3c"]]},{"id":"d31c2e9c.b2fd9","type":"debug","z":"7bf666b4.fa6c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":620,"wires":[]},{"id":"e4e0dcc4.57239","type":"ui_template","z":"7bf666b4.fa6c78","group":"9d7cb5f3.e1c018","name":"","order":1,"width":0,"height":0,"format":"\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n \n  <style>\n \nsection{\n  background-image:    url('https://i.pinimg.com/564x/b9/e8/c3/b9e8c3d35e029e33ed05d097422e49f8.jpg');\n}\n\nbutton{\n    background: url('https://cdn.dribbble.com/users/2592835/screenshots/9191256/media/1697279b60ee6e1d6748745eac3bc889.gif');\n\n     width:305px;\n        height: 230px;\n        background-size:contain;\n       \n        background-repeat:no-repeat;\n}\n \n\t</style>\n</head>\n<body>\n    <button type=\"submit\" ng-click=\"send({payload:3})\" ></button>\n          \n      \n      <section>\n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":140,"wires":[["b5d4b6a3.c69108"]]},{"id":"7367653a.135b3c","type":"ui_gauge","z":"7bf666b4.fa6c78","name":"","group":"32e26ac8.42c406","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"K","format":"{{msg.payload.main.temp}} ","min":0,"max":"1000","colors":["#ff8000","#ffff00","#ca3838"],"seg1":"","seg2":"","x":630,"y":500,"wires":[]},{"id":"cdf133cf.d8106","type":"ui_gauge","z":"7bf666b4.fa6c78","name":"","group":"2991ee63.05caf2","order":1,"width":0,"height":0,"gtype":"wave","title":"Pressure","label":"hba","format":"{{msg.payload.main.pressure}}","min":0,"max":"2000","colors":["#ff0080","#ff0080","#ca3838"],"seg1":"","seg2":"","x":620,"y":540,"wires":[]},{"id":"9b3b922a.24dc3","type":"ui_gauge","z":"7bf666b4.fa6c78","name":"","group":"79b7e851.224da8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.main.humidity}}","min":0,"max":"100","colors":["#ffff00","#ffff00","#ff9a02"],"seg1":"","seg2":"","x":620,"y":580,"wires":[]},{"id":"11f6ecef.e1bb33","type":"ui_switch","z":"7bf666b4.fa6c78","name":"","label":"Motor Status","tooltip":"","group":"4716558.4eee6ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"motoron\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\":\"motoroff\"}","offvalueType":"json","officon":"","offcolor":"","x":350,"y":380,"wires":[["f70e8a26.9103c8","a4c32864.497288"]]},{"id":"963296b4.59f2f8","type":"ui_template","z":"7bf666b4.fa6c78","group":"32e26ac8.42c406","name":"","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n \n  <style>\n \nsection{\n  \n  background-image:    url('https://i.pinimg.com/564x/23/e0/12/23e012433d0eea0a020162f7dc52894a.jpg');\n \n \n  \n   \n}\n \n\t</style>\n</head>\n<body>\n  <section>\n      \n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":220,"y":580,"wires":[[]]},{"id":"43390ca6.821274","type":"ui_template","z":"7bf666b4.fa6c78","group":"4716558.4eee6ac","name":"","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n \n  <style>\n \nsection{\n  \n  background-image: url('https://scontent.fdel3-2.fna.fbcdn.net/v/t1.0-9/52449476_1152561371607093_7462884613174591488_n.jpg?_nc_cat=108&_nc_sid=da1649&_nc_ohc=CnAZZILPM-8AX-Aakz-&_nc_ht=scontent.fdel3-2.fna&oh=36d941c3310992df00d8a88a952742bd&oe=5F144A43');\n   \n \n  \n   \n}\n \n\t</style>\n</head>\n<body>\n     \n   \n  <section>\n      \n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":380,"wires":[[]]},{"id":"cd16ded9.8f594","type":"ui_template","z":"7bf666b4.fa6c78","group":"4716558.4eee6ac","name":"","order":2,"width":0,"height":0,"format":"<style>\n    img{\n        background-image: url('https://cdn.dribbble.com/users/1298408/screenshots/6913851/fruit-_-veg2.gif');\n    }\n</style>\n<img ng-src='https://cdn.dribbble.com/users/1298408/screenshots/6913851/fruit-_-veg2.gif' alt='img'>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":420,"wires":[[]]},{"id":"b5d4b6a3.c69108","type":"ui_ui_control","z":"7bf666b4.fa6c78","name":"go to tab","events":"change","x":700,"y":20,"wires":[["470106d7.83dbb8"]]},{"id":"dec765ec.71bf28","type":"ui_button","z":"7bf666b4.fa6c78","name":"","group":"fa4b2dab.fc9ce","order":1,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":470,"y":140,"wires":[["b5d4b6a3.c69108"]]},{"id":"7f78d581.8f58bc","type":"ui_button","z":"7bf666b4.fa6c78","name":"","group":"79b7e851.224da8","order":1,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":470,"y":100,"wires":[["b5d4b6a3.c69108"]]},{"id":"2401acff.0f18a4","type":"ui_button","z":"7bf666b4.fa6c78","name":"","group":"4716558.4eee6ac","order":3,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":610,"y":100,"wires":[["b5d4b6a3.c69108"]]},{"id":"3251b7ce.980588","type":"ui_button","z":"7bf666b4.fa6c78","name":"","group":"b14405b6.4e39c8","order":1,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":610,"y":140,"wires":[["b5d4b6a3.c69108"]]},{"id":"c1ef8f7f.c958f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2d1344d4.7a7ffc","type":"ui_group","z":"","name":"Temperature","tab":"99afa812.9d9368","order":1,"disp":false,"width":7,"collapse":false},{"id":"a3b2fcee.9569d","type":"ui_group","z":"","name":"Humidity","tab":"99afa812.9d9368","order":2,"disp":false,"width":"7","collapse":false},{"id":"fa4b2dab.fc9ce","type":"ui_group","z":"","name":"Soil Moisture","tab":"99afa812.9d9368","order":3,"disp":false,"width":7,"collapse":false},{"id":"f007076a.ba2e88","type":"ui_group","z":"","name":"SIMULATOR DATA","tab":"32b7c040.729a5","order":2,"disp":true,"width":"6","collapse":false},{"id":"b14405b6.4e39c8","type":"ui_group","z":"","name":"API DATA","tab":"32b7c040.729a5","order":4,"disp":true,"width":"6","collapse":false},{"id":"55217d8e.278944","type":"ui_group","z":"","name":"","tab":"b842c152.15b21","order":10,"disp":false,"width":"4","collapse":false},{"id":"9d7cb5f3.e1c018","type":"ui_group","z":"","name":"MOTOR CONTROLS","tab":"32b7c040.729a5","order":3,"disp":true,"width":"6","collapse":false},{"id":"32e26ac8.42c406","type":"ui_group","z":"","name":"Temperature","tab":"8a7b74dd.f25548","order":1,"disp":false,"width":7,"collapse":false},{"id":"2991ee63.05caf2","type":"ui_group","z":"","name":"Pressure","tab":"8a7b74dd.f25548","order":2,"disp":false,"width":6,"collapse":false},{"id":"79b7e851.224da8","type":"ui_group","z":"","name":"Humidity","tab":"8a7b74dd.f25548","order":3,"disp":false,"width":7,"collapse":false},{"id":"4716558.4eee6ac","type":"ui_group","z":"","name":"Motor Controls","tab":"f137db70.b92e88","order":1,"disp":true,"width":6,"collapse":false},{"id":"99afa812.9d9368","type":"ui_tab","z":"","name":"Watson-IOT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"32b7c040.729a5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b842c152.15b21","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8a7b74dd.f25548","type":"ui_tab","z":"","name":"API-data","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"f137db70.b92e88","type":"ui_tab","z":"","name":"CONTROLS","icon":"dashboard","order":4,"disabled":false,"hidden":false}]